/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/global.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.body{
    background-color: white;
    color: lightblue; 
}

.carrega{
 margin-top: 50px;
   
}


p{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 1px;
    text-align: center;
    margin-top: 15px;

}

button{
    padding: 15px;
    background-color: lightblue;
    border-radius: 8px;
    border-color: white;


    
}

.botao{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botaoalt{
    color: white;
    margin-left: 42%;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    background-color:rgb(22, 167, 229);
}

.entrar{
    color: white;
    margin-left: 42%;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
}
.voltar{
    color: white;
    margin-left: 42%;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
}

.apvolt{
    color: white;
    margin-left: 42%;
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
  
}
.h1{
    color: lightblue
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

h1{
    text-align: center;
    margin-top: 20px;
    padding-top: 100px;
}

.inputs{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: lightblue;
    border-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 15px;
}

.inputs:hover{
    background-color: rgb(22, 167, 229) ;
}

.inputs::-moz-placeholder {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.inputs::placeholder {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

form{
    padding-bottom: 100px;
}

.inputs{
    width: 50%;
    
 margin-left: 25%;
}

fieldset{
    margin-top: 10%;
}


.menu li a:hover{

    color:#fff;
    -moz-box-shadow:0 1px 5px 0 rgb(22, 167, 229);
    -webkit-box-shadow:0 1px 5px 0 rgb(22, 167, 229);
    text-shadow:0px 0px 1px rgb(22, 167, 229);
    }
    
    
    nav {
      width: 300px;
      background: white;
      color:rgb(22, 167, 229);
      -webkit-clip-path: circle(24px at 30px 24px);
      clip-path: circle(24px at 32px 24px);
      transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    }
    
    nav:hover {
      transition-timing-function: ease-out;
      transition-duration: 0.75s;
      -webkit-clip-path: circle(390px at 225px 24px);
      clip-path: circle(390px at 150px 24px);
    }
    
    a {
      display: block;
      line-height: 50px;
      padding: 0 20px;
      color: inherit;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    
    a:hover { background:lightblue; }
    
    a:active { background:lightblue; }
    
    .navicon {
      padding: 23px 20px;
      cursor: pointer;
      transform-origin: 32px 24px;
    }
    
    .navicon div {
      position: relative;
      width: 20px;
      height: 2px;
      background: rgb(22, 167, 229);
    }
    
    .navicon div:before,
    .navicon div:after {
      display: block;
      content: "";
      width: 20px;
      height: 2px;
      background: rgb(22, 167, 229);
      position: absolute;
    }
    
    .navicon div:before { top: -7px; }
    
    .navicon div:after { top: 7px; }
